<!----------------Main Sidebar----------------------->
<div class="main-content">
    <div class="story-gallery">
        <div class="story story1">
            <img src="https://i.postimg.cc/TPh453Zz/upload.png">
            <p>Post Story</p>
        </div>
        <div class="story story2">
            <img src="https://i.postimg.cc/XNPtfdVs/member-1.png">
            <p>Narendra Modi</p>
        </div>
        <div class="story story3">
            <img src="https://i.postimg.cc/4NhqByys/member-2.png">
            <p>Arvind Kejriwal</p>
        </div>
        <div class="story story4">
            <img src="https://i.postimg.cc/FH5qqvkc/member-3.png">
            <p>Raj thackrey</p>
        </div>
        <div class="story story5">
            <img src="https://i.postimg.cc/Sx65bPcP/member-4.png">
            <p>Sharad Pawar</p>
        </div>
    </div>
    <div class="write-post-container">
        <div class="user-profile">
            <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
            <div>
                <p>Rahul Gandhi</p>
                <small>Public <i class="fas fa-caret-down"></i></small>
            </div>
        </div>
        <div class="post-input-container">
            <textarea rows="3" placeholder="What's on your mind, Rahul?"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="https://i.postimg.cc/QMD2BDXs/live-video.png">Live Video</a>
                <a href="#"><img src="https://i.postimg.cc/6pKKZn0D/photo.png">Photo/Video</a>
                <a href="#"><img src="https://i.postimg.cc/Pf6TBCdD/feeling.png">Feling/Activity</a>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
                <div>
                    <p>Rahul Gandhi</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text"> "भारत जोड़ो न्याय यात्रा आप सभी की यात्रा है। इस संघर्ष में हर न्याय योद्धा और न्यायप्रिय नागरिक का साथी है, न्याय यात्रा ऐप - एक डिजिटल माध्यम अभियान से जुड़ने का, सामर्थ्य के अनुसार अपना योगदान देने का।"</p>
        <img src="https://i.postimg.cc/W35MYxgZ/ra2.jpg" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
                <div>
                    <p>Rahul Gandhi</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">आज UP पुलिस की परीक्षा का पेपर लीक होने की शिकायत लेकर कुछ छात्र मिलने आए।
            लीक हुए पेपर ने 50 लाख से अधिक मेहनती अभ्यर्थियों की वर्षों की मेहनत पर पानी फेर दिया।</p>
        <img src="https://i.postimg.cc/3rnT916H/ra3.jpg" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
                <div>
                    <p>Rahul Gandhi</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">अमेठी के मेरे प्यारे भाइयों और बहनों, आपसे मिली मोहब्बत, स्वागत और सम्मान के लिए दिल से धन्यवाद।</p>
        <img src="https://i.postimg.cc/ZqB8swjs/ra4.jpg" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
                <div>
                    <p>Rahul Gandhi</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">यात्रा की शुरुआत आज भगवान बिरसा मुंडा को उनके जन्मस्थान झारखंड के खूंटी में श्रद्धांजलि अर्पित कर के की। इस दौरान उनके परिवार की चौथी पीढ़ी के सदस्यों से मुलाकात की और सम्मान व्यक्त किया</p>
        <img src="https://i.postimg.cc/FsxKnYp1/cycle.jpg" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg">
                <div>
                    <p>Rahul Gandhi</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">Meeting my friend after long time</p>
        <img src="https://i.postimg.cc/wTM7k7w0/ramo.jpg" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/q7P51hcn/rg2.jpg"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <button type="button" class="load-more-btn">Load More</button>
</div>