 <!----------------Left Sidebar----------------------->
 <div class="left-sidebar">
    <div class="imp-links">
        <a href="#"><img src="https://i.postimg.cc/RCj4MjnC/news.png">Latest News</a>
        <a href="#"><img src="https://i.postimg.cc/MpBwMtV0/friends.png">Friendss</a>
        <a href="#"><img src="https://i.postimg.cc/44FRWj1b/group.png">Group</a>
        <a href="#"><img src="https://i.postimg.cc/0jh39RtT/marketplace.png">Marketplace</a>
        <a href="#"><img src="https://i.postimg.cc/VsXHCTVk/watch.png">Watch</a>
        <a href="#">See More</a>
    </div>
    <div class="shortcut-link">
        <p>Your Shortcuts</p>
        <a href="#"><img src="https://i.postimg.cc/NFf4kSfy/covid.jpg">Covid</a>
        <a href="#"><img src="https://i.postimg.cc/0yJCnpxC/science.jpg">Science & Tech</a>
        <a href="#"><img src="https://i.postimg.cc/hPvsJk56/terr.jpg">Terrorism</a>
        <a href="#"><img src="https://i.postimg.cc/G3qzmLqv/energy.jpg">Energy</a>
    </div>
</div>