<div class="right-sidebar">
    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See All</a>
    </div>
    <div class="event">
        <div class="left-event">
            <h3>18</h3>
            <span>March</span>
        </div>
        <div class="right-event">
            <h4>Elections</h4>
            <p><i class="fas fa-map-marker-alt"></i> Hyderabad</p>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="event">
        <div class="left-event">
            <h3>22</h3>
            <span>June</span>
        </div>
        <div class="right-event">
            <h4>Speech</h4>
            <p><i class="fas fa-map-marker-alt"></i> Hyderabad</p>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="sidebar-title">
        <h4>Advertisement</h4>
        <a href="#">close</a>
    </div>
    <img src="https://i.postimg.cc/mrTXT5WT/raganaka.jpg" class="siderbar-ads">
    <div class="sidebar-title">
        <h4>Conversation</h4>
        <a href="#">Hide Chat</a>
    </div>
    <div class="online-list">
        <div class="online">
            <img src="https://i.postimg.cc/TYRzDbYH/arvind-1.jpg">
        </div>
        <p>Arvind Kejriwal</p>
    </div>
    <div class="online-list">
        <div class="online">
            <img src="https://i.postimg.cc/SxWVfSQ1/raj-1.jpg">
        </div>
        <p>Raj Thackrey</p>
    </div>
    <div class="online-list">
        <div class="online">
            <img src="https://i.postimg.cc/GmvkYX3k/shardad-1.jpg">
        </div>
        <p>Sharad Pawar</p>
    </div>
    <div class="online-list">
        <div class="online">
            <img src="https://i.postimg.cc/v8gBKcRB/Namo.jpg">
        </div>
        <p>Narendra Modi</p>
    </div>
</div>

<div class="footer">
</div>
<script src="script.js"></script>